/* Alerts
================================================== */
.alert {
  padding: .5em 2em .5em 1em;
  margin-bottom: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FFFFE0;
  border: 1px solid #E6DB55;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 1.6em;
  font-size: 1.5em;
  color: #333;
  position: relative;
  font-family: monospace;
}

.alert.error {
  color: #B94A48;
  background-color: #F2DEDE;
  border-color: #EED3D7;
}

.alert.success {
  color: #468847;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

.alert.info {
  color: #3A87AD;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}

.alert.block {
  padding: 1em 2em 1em 1em;
}

.alert .close {
  float: right;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1em;
  color: inherit;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.5;
  filter: alpha(opacity=20);
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  right: .5em;
  top: .5em;
}

.alert .close:hover, .alert .close:focus, .alert .close:active {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}

input[type="submit"] {
    cursor: pointer;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #3d7a8a;
}

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 70px;
    background-repeat: no-repeat;
    background-position: 10px center;
    }

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('images/info.png');
}
